<style type="text/css">
  .info {
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 14px;
  }
</style>

<div class="info">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :faculty, "Факультет" %>
      <%= f.text_field :faculty , placeholder: "КСИС"%>
    </div>

    <div class="field">
      <%= f.label :course, "Курс" %>
      <%= f.text_field :course, placeholder: "1"%>
    </div>

    <div class="field">
      <%= f.label :group, "Группа"%>
      <%= f.text_field :group, placeholder: "459593" %>
    </div>

    <div class="actions">
      <%= f.submit "Подтвердить"%>
    </div>
  <% end %>
</div>