<style type="text/css">
  .name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .order_table {
    margin-top: 100px;
    margin-left: 380px;
    font-size: 20px;
  }

  td {
    font-size: 20px;
  }

  .caption {
    margin-bottom: 20px;
  }

  .new_order {
    text-align: center;
  }
  .button {
    position: absolute;
    right: 100px;
  }

</style>


<p id="notice"><%= notice %></p>

<div class="name">
  <%= @user.first_name %>
  <%= @user.last_name %>
  <% if @user.admin %>
    (Admin)
  <% end %>
</div>

<% unless @user.admin %>
  <%= button_to "Добавить ведомостичку", new_user_order_path(user_id: @user), :method => :get, :class => "new_order" %>
  <%= button_to('Выйти', destroy_user_session_path, :method => :delete, :class => "button")%> 
  <table border="2px;" cellpadding="10px;" class="order_table">
  <caption class="caption">Ведомостички</caption>
  <tr>
    <td>Предмет</td>
    <td>Дата</td>
    <td>Прогресс</td>
  </tr>
    <% @user.orders.each do |order| %>
    <tr>
      <td><%= order.subject %></td>
      <td><%= order.data %></td>
      <td><% if !order.status %>
        <div>in progress</div>
      <% else %>
        <div>Ready</div>
      </tr>
      <% end %></td>
    <% end %>
  </table>

<% else %>
<%= button_to('Выйти', destroy_user_session_path, :method => :delete, :class => "button")%>
<table border="2px;" cellpadding="10px;" class="order_table">
<caption>Ведомостички</caption>
  <tr>
    <td>Имя</td>
    <td>Предмет</td>
    <td>Дата</td>
    <td>Прогресс</td>
    <td>Подтверждение</td>
  </tr>
  <% @users.each do |user| %>
    
    <% user.orders.each do |order| %>
      <% unless order.status %>
      <td><%= user.first_name unless user.admin %></td>
        <td><%= order.subject %></td>
        <td><%= order.data %></td>
        <td><%= order.status %></td>
        <td><%= button_to "Подтвердить", orders_check_path(order.id), :method => :get %></td>
      <% end %>
    <% end %>
  <% end %>
<% end %>