<style type="text/css">
  .userpage {
    position:absolute;
    top: 5%;
    left: 5%;
    right: 5%;
  }

  .name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: -3%;
  }

  .order_table {
    margin-top: 100px;
    margin-left: 380px;
    font-size: 20px;
  }

  td {
    font-size: 20px;
    color : ;
  }

  table {
   opacity: 0.7;
   background: rgb(70, 109, 117); /* Цвет фона */
   table-layout: fixed; /* Фиксированная ширина ячеек */
   width: 900px; /* Ширина таблицы */
   position: relative;
   left: -25%;
   top: 0px;
  }

  .col1 { 
    width: 385px; 
  }
  .col2 { 
    width: 240px; 
  }
  .col3 { 
    width: 160px; 
  }
  .col4 { 
    width: 115px; 
  }

  .caption {
    margin-bottom: 20px;
  }

  .new_order {
    text-align: center;
  }
  .buttonright {
    position: absolute;
    right: 30px;
    top : 0px;
  }
  .buttonleft {
    position: relative;
    top: 50px;
    left: 39%;
  }

</style>

<div class="userpage">
<div class="name">
  <%= @user.first_name %>
  <%= @user.last_name %>
  <% if @user.admin %>
    (Admin)
  <% end %>
</div>

<% unless @user.admin %>
  <%= button_to "Добавить ведомостичку", new_user_order_path(user_id: @user), :method => :get, :class => "new_order buttonleft"  %>
  <%= button_to('Выйти', destroy_user_session_path, :method => :delete, :class => "buttonright")%> 
  <table border="2px;" cellpadding="10px;" class="order_table">
  <caption class="caption">Ведомостички</caption>
  <col class="col1">
  <col class="col2">
  <col class="col3">
  <col class="col4">
  <tr>
    <td>Предмет</td>
    <td>Дата</td>
    <td>Прогресс</td>
    <td>Удаление</td>
  </tr>
    <% @user.orders.each do |order| %>
    <tr>
      <td><%= order.subject %></td>
      <td><%= order.data %></td>
      <td><% if !order.status %>
        <div>in progress</div>
      <% else %>
        <div>Ready</div>
        <td><%= button_to "Удалить" %></td>
      </tr>
      <% end %></td>
    <% end %>
  </table>

<% else %>
<%= button_to('Выйти', destroy_user_session_path, :method => :delete, :class => "buttonright")%>
<table border="2px;" cellpadding="10px;" class="order_table">
<caption>Ведомостички</caption>
  <tr>
    <td>Имя</td>
    <td>Предмет</td>
    <td>Дата</td>
    <td>Прогресс</td>
    <td>Подтверждение</td>
  </tr>
  <% @users.each do |user| %>
    
    <% user.orders.each do |order| %>
      <% unless order.status %>
      <td><%= user.first_name unless user.admin %></td>
        <td><%= order.subject %></td>
        <td><%= order.data %></td>
        <td><%= order.status %></td>
        <td><%= button_to "Подтвердить", orders_check_path(order.id), :method => :get %></td>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>