<style type="text/css">
  .userpage {
    position:absolute;
    top: 5%;
    left: 5%;
    right: 5%;
  }

  .name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: -3%;
  }


  td {
    font-size: 20px;
    text-align: center;
    overflow: hidden;
  }

  th{
    font-size: 21px;
    background-color: rgba(42, 118, 145, 0.7);
    border-width: 2px; 
    vertical-align: middle;
  }  


  table {

   background-color: rgba(70, 109, 117, 0.7);
   table-layout: fixed; /* Фиксированная ширина ячеек */
   width: 900px; /* Ширина таблицы */
   position: relative;
   left: 8%;
   top: 40px;
   font-size: 20px;
   border-color: rgb(3,3,3)
  }

  .col1 { 
    width: 385px; 
  }
  .col2 { 
    width: 240px; 
  }
  .col3 { 
    width: 160px; 
  }
  .col4 { 
    width: 115px;
  }
  .col5 { 
    width: 165px; 
  }
  .col6 { 
    width: 160px; 
  }
   .col7 { 
    width: 180px; 
  }

  .caption {
    margin-bottom: 20px;
    font-size: 25px;
    font-style: italic;
  }

  .new_order {
    text-align: center;
  }
  .buttonright {
    position: absolute;
    right: 30px;
    top : 0px;
  }
  .buttonleft {
    position: relative;
    top: 35px;
    left: 39%;
  }
</style>

<div class="userpage">
<div class="name">
  <%= @user.first_name %>
  <%= @user.last_name %>
  <% if @user.admin %>
    (Admin)
  <% end %>
</div>

<% unless @user.admin %>
  <%= button_to "Добавить ведомостичку", new_user_order_path(user_id: @user), :method => :get, :class => "new_order buttonleft"  %>
  <%= button_to('Выйти', destroy_user_session_path, :method => :delete, :class => "buttonright")%> 
  <table  class="order_table" border= "2px"; cellpadding = "10px" >
  <caption class="caption">Ведомостички</caption>
  <col class="col1">
  <col class="col2">
  <col class="col3">
  <col class="col4">
  <tr>
    <th>Предмет</th>
    <th>Дата</th>
    <th>Прогресс</th>
    <th>Удаление</th>
  </tr>
    <% @user.orders.each do |order| %>
    <tr>
      <td><%= order.subject %></td>
      <td><%= order.data %></td>
      <td><% if !order.status %>
        <div>in progress</div>
      <% else %>
        <div>Ready</div>
        </td>
        <td><%= button_to "Удалить" %></td>
      </tr>
      <% end %>
    <% end %>
  </table>

<% else %>
<%= button_to('Выйти', destroy_user_session_path, :method => :delete, :class => "buttonright")%>
<table  class="order_table" border= "2px"; cellpadding = "10px">
<caption class="caption">Ведомостички</caption>
  <col class="col5">
  <col class="col6">
  <col class="col2">
  <col class="col3">
  <col class="col7">
  <tr>
    <th>Имя</th>
    <th>Предмет</th>
    <th>Дата</th>
    <th>Прогресс</th>
    <th>Подтверждение</th>
  </tr>
  
  <% @users.each do |user| %>
    <tr>
    <% user.orders.each do |order| %>
      <% unless order.status %>
      <td><%= user.first_name unless user.admin %></td>
        <td><%= order.subject %></td>
        <td><%= order.data %></td>
        <td><%= order.status %></td>
        <td><%= button_to "Подтвердить", orders_check_path(order.id), :method => :get %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>

<% end %>
</div>