<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Subject</th>
      <th>Fio professor</th>
      <th>Position professor</th>
      <th>Reason</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_type %></td>
        <td><%= order.subject %></td>
        <td><%= order.fio_professor %></td>
        <td><%= order.position_professor %></td>
        <td><%= order.reason %></td>
        <td><%= order.data %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
