<!DOCTYPE html>
<html>
  <head>
    <title>EasyReTake</title>
    <%= csrf_meta_tags %>

	<%= render 'application/favicon' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'false' %>
  </head>

  <body>
  
    <%= yield %>
  </body>
</html>
